div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
}

button{
    font-size: 50px;
    background-color: bisque;
    color: black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.7s;
}

button:hover{
    transform: scale(1.3);
}

body{
    background-color: white;
    color: black;
}

.darkMode{
    background-color: black;
    color: white;
}